@charset "utf-8";

// Importing the initial variables
@import '../node_modules/bulma/sass/utilities/initial-variables';

* {
  scroll-behavior: smooth;
}
// Cores
$primary: $white;
$link: #0057ff;
$body-background-color: $black;
$body-color: $primary;
$content-heading-color: $primary;
$text-strong: inherit;

// Form
$input-radius: 1.25em;
$input-color: $primary;
$input-background-color: $black-ter;
$input-border-color: $black-ter;

// Fontes
@font-face {
  font-family: 'Monument Extended';
  src: url('../fonts/monumentextended-regular-webfont.woff2') format('woff2'),
    url('../fonts/monumentextended-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monument Extended';
  src: url('../fonts/monumentextended-ultrabold-webfont.woff2') format('woff2'),
    url('../fonts/monumentextended-ultrabold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
$family-primary: 'Monument Extended', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$family-secondary: 'Montserrat', sans-serif;

// Tipografia
h1,
h2,
h3,
.button,
.navbar a {
  font-family: $family-primary;
}

// Import the rest of Bulma
@import '../node_modules/bulma/bulma';

//Fonte
body {
  font-family: $family-secondary;
  line-height: 1.2;
}

//Helpers
.animate {
  transition: all ease 0.5s;
}
.white-filter {
  filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(305deg)
    brightness(111%) contrast(105%);
}

// Botões e links
.button .icon:last-child:not(:first-child) {
  margin-right: calc(-0.25em - 1px);
}
.button .icon {
  width: 2.5rem;
  height: 2.5rem;
}
#whatsapp-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  padding: 2em 1.5em;
  z-index: 99999;
}

// Menu
.navbar {
  background: transparent;
}
.navbar.nav-down {
  background: $black;
}
.nav-up {
  transform: translateY(-100%);
}
.menu {
  display: flex;
  align-items: center;
  gap: 2em;
}
.menu a {
  color: $white;
}

// Início
header {
  position: relative;
  background-size: auto 100%;
  background-position: center right;
  background-repeat: no-repeat;
}
header.hero .hero-body {
  height: 50vw;
  align-items: center;
  display: flex;
}
header img {
  max-width: 350px;
}
header .container {
  z-index: 1;
}
#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.3;
}

// Portfólio
.portfolio-home.section.is-medium {
  padding-top: 0;
}
.grid {
  column-count: 1;
  column-gap: 1em;
}
.card {
  display: inline-block;
  background: none;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  margin-bottom: 1em;
  position: relative;
}
.card .icon-text {
  text-decoration: underline;
  font-size: 0.9em;
}
.card picture {
  overflow: hidden;
  display: block;
}
.card picture::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0);
  transition: all ease 0.5s;
}
.card:hover {
  scale: 1.1;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  picture::after,
  .card-text {
    opacity: 1;
  }
}
.card img {
  display: block;
  width: 100%;
}
.card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1.5em;
  opacity: 0;
}
.swiper.portfolio {
  width: 100%;
  overflow: unset;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -10%;
    right: -25px;
    width: 100px;
    height: 120%;
    z-index: 2;
    background: rgb(10, 10, 10);
    background: linear-gradient(
      -90deg,
      rgba(10, 10, 10, 1) 0%,
      rgba(10, 10, 10, 0) 100%
    );
    pointer-events: none;
  }
}
.portfolio {
  .card {
    width: auto;
    height: 28vw;
    max-height: 25rem;
  }
  .swiper-slide.card {
    margin-bottom: 0;
    img,
    picture {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }
}

// Trabalhe conosco
#trabalhe-conosco {
  background: $link center center/cover no-repeat;
  padding-top: 15em;
  position: relative;
}
#trabalhe-conosco .container {
  z-index: 10;
}
#trabalhe-conosco:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.4;
  z-index: 0;
}

// Swiper
.row-swiper {
  gap: 1em;
}
.swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.swiper-pagination-bullet {
  width: 3rem;
  height: 0.4rem;
  border-radius: 0 !important ;
  flex-grow: 1;
  max-width: 10rem;
}
.swiper-slide {
  justify-content: center;
  display: flex;
}
.swiper-button-next,
.swiper-button-prev {
  width: 0;
  position: unset;
  margin-top: unset;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2em;
  padding: 0.5em;
}

.swiper {
  width: 90%;
}

// Footer

footer .logo {
  display: block;
}
footer .icon-text {
  flex-wrap: unset;
  align-items: center;
}
footer .icon-text .icon {
  height: unset;
}
footer ul.menu {
  display: block;
  text-align: right;
}
footer .menu li {
  padding: 0 0 1em;
}
footer .menu a {
  font-family: 'Monument Extended';
  font-size: 1em;
}
.map {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 100%;
  filter: grayscale(100%);
}

// Página Sobre
.intro {
  padding-left: 1em;
  border-left: 5px solid $primary;
}

// Página Contato
.contato-icons {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
}
.contato-icons .icon-text {
  flex-wrap: nowrap;
  margin-bottom: 1.5em;
  line-height: 1.2;
  align-items: center;
}
.contato-icons .icon-text .icon {
  margin-right: 0.8em;
}
.contato-icons img {
  width: 1em;
  height: 1em;
  font-size: 2em;
}
.field {
  &.field:not(:last-child) {
    margin: 0.3em 0 1em;
  }
}
.textarea,
.input,
.textarea::placeholder,
.input::placeholder {
  font-family: 'Montserrat', sans-serif;
}
.field {
  display: flex;
  align-items: center;
  position: relative;
}
.field.not-valid::after,
.field.valid::after {
  position: absolute;
  display: block;
  width: 1em;
  height: 1em;
  right: 0.5em;
}
.field.not-valid::after {
  content: '✘';
  color: $danger;
}
.field.valid::after {
  content: '✔';
  color: $success;
}
.field .placeholder {
  position: absolute;
}

// Página Case
.section.case {
  padding: 0;
  padding-bottom: 4rem;
}
.case-columns {
  max-width: 1152px;
}
.case-column {
  padding: 3rem 2.3rem;
  padding-bottom: 0;
}
.swiper-slide img,
.swiper-slide picture {
  width: 100%;
}
.touch-icon {
  position: absolute;
  bottom: 2em;
  width: 100%;
  z-index: 1;
}
.touch-icon img {
  width: 4em;
}
.content h2:not(:first-child) {
  margin-top: 0;
}
.content h3 {
  margin-bottom: 0;
}

//Vídeo
.video-container {
  position: relative;
  padding-bottom: 56.25%;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Touch
@include touch {
  //Menu
  header {
    padding-top: 6rem;
  }
  .navbar-menu {
    display: block;
    position: fixed;
    right: -100vw;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100% !important;
    background: $black;
  }
  .navbar-menu.open {
    right: 0;
  }
  .navbar-burger {
    align-items: center;
    display: flex;
    justify-content: center;
    height: unset;
    width: unset;
    padding: 1rem 0.75rem;
  }
  .navbar-burger.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    width: fit-content;
  }
  nav .menu {
    flex-direction: column;
    align-items: baseline;
    font-size: 2rem;
    line-height: 1;
    padding: 1rem 0.75rem;
  }
}

// Mobile
@include mobile {
  //Portfolio
  .portfolio .card {
    height: 80vw;
  }

  // Footer
  footer ul.menu {
    text-align: left;
  }
}

// Tablet
@include tablet {
  // Página Contato
  .contato-icons {
    margin-top: 0;
  }

  //Portfolio
  .portfolio .card {
    height: 40vw;
  }
}

// Tablet only
@include tablet-only {
  // Portfólio
  .grid {
    column-count: 2;
  }
}

// Desktop
@include desktop {
  html {
    font-size: 18px;
  }

  // Portfólio
  .grid {
    column-count: 3;
  }
  .swiper.portfolio::before {
    right: -105px;
  }

  // Página Case
  .section.case {
    padding: 9rem 4.5rem;
    display: flex;
    justify-content: center;
  }
  .case-columns {
    max-width: 960px;
  }
  .case-column {
    padding: 0.75rem;
  }

  // Footer
  footer .navbar-end {
    display: block;
  }
}

// Widescreen
@include widescreen {
  .case-columns {
    max-width: 1344px;
  }
  //Portfolio
  .swiper.portfolio {
    overflow-y: hidden;
    scrollbar-width: none;
  }
  .swiper.portfolio::before {
    right: 0;
  }
}
